.product-list-item{
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    border: 1px red solid;


}

.product-image{
    width: 35%;
    padding: 10px;
    background-color: red;
}

.product-image img{
    width: 100px;
    height: 100%;
}

.product-details{
    width: 65%;
    padding: 10px;
    background-color: blue;
    align-items: left;
}