{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">  
{% endblock %}

{% block content %}
    <div class="hero-section">
        <h1>¡Benvenido a mi primera aplicacion DJANGO!</h1>
        <p>Explora las funcionalidades y gestiona tus datos de manera eficiente.</p>
        <a href="{% url 'indexUsers' %}" class="btn">Explorar Usuarios</a>
    </div>

    <div class="features-section">
        <h2>Características Principales</h2>
        <div class="features-grid">
            <div class="feature-card">
                <h3>Usuarios</h3>
                <p>Crea un nuevo Usuario.</p>
                <a href="{% url 'createUser' %}" class="btn btn-secondary">Crear Usuario</a>
            </div>
            <div class="feature-card">
                <h3>Órdenes</h3>
                <p>Consulta y administra órdenes fácilmente.</p>
                <a href="{% url 'indexOrders' %}" class="btn btn-secondary">Ver Órdenes</a>
            </div>
        </div>
    </div>
{% endblock %}
