{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/boletos.css' %}">
{% endblock %}

{% block content %}

<h2 class="titulo-seccion">
    {% if evento %}Boletos para {{ evento.name }}{% else %}Boletos Generales{% endif %}
</h2>

<div class="grid-boletos">
    {% if boletos %}
        {% for boleto in boletos %}
        {% include 'components/boletoC.html' with imagen='https://img.freepik.com/vector-gratis/vector-dos-entradas-cine-disenadas-cerca-vista-superior-aislada-sobre-fondo-blanco_1284-47320.jpg' name="Boleto "|add:forloop.counter localidad=boleto.evento.localidad.name precio=boleto.precio %}
        {% endfor %}
    {% else %}
        <div class="mensaje-vacio">
            <p>🎟️ Sin Boletos disponibles en este momento.</p>
        </div>
    {% endif %}
</div>

{% endblock %}
