{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
{% endblock %}

{% block content %}

<h2 class="titulo-seccion">Eventos</h2>

<a href="{% url 'agregar_evento' %}">
    <button class="boton-negro">Agregar Evento</button>
</a>

<div class="grid-eventos">
    {% for evento in eventos %}
    {% include 'components/eventoC.html' with imagen=evento.imagen_url name=evento.name localidad=evento.localidad.name descripcion=evento.descripcion %}
    {% endfor %}

</div>

{% endblock %}
